.signup-page {
  margin: 16px auto;
}

.signup-login-box {
  background-image: url("shake-hands.jpg");
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}


.signup-login-box .login-field {
  flex-grow: 1; /* コンテンツ領域が余った場合に伸びるようにする */
}

.signup-logo {
  margin-bottom: 20px;
  background-color: #4fbdd7;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  color: #fff;
}

.signup-logo-icon {
  width: 20px;
  height: 25px;
}

.signup-logo-text {
  text-decoration: none;
  color: white;
  font-size: 28px;
  font-weight: bold;
  margin-left: 10px;
  font-family: Monaco;
  text-align: center;
}

.signup-login-box h2 {
  text-align: center;
  color: #4fbdd7;
}

.registration-login-field {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registration-field label{
  text-align: center;
  margin-bottom: 10px;
  color: #4fbdd7;
  font-weight: bold;
}

.signup-actions {
  margin-top: 20px;
  text-align: center;
  font-size: 20px;
}

.signup-actions input[type="submit"] {
  color: #ffffff;
  background-color: #4fbdd7;
  border: none;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 70px;
  height: 40px;
}

.login-button{
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000; 
}

#login-button {
  color: black;
  font-size: 20px;
  margin-top: 16px;
}