.signup-page{
  margin: 16px auto;
}

.signup-login-box {
  background-image: url("/assets/shake-hands.jpg");
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  height: 450px; 
  width: 400px; 
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  
}

.signup-logo {
  margin-bottom: 20px;
  background-color: #4fbdd7;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  color: #fff;
}

.signup-logo-icon{
  width: 20px;
  height: 25px;
}

.signup-logo-text{
  text-decoration: none;
  color:  white;
  font-size: 28px;
  font-weight: bold;
  margin-left: 10px;
  font-family: sans-serif;
  text-align: center;
}

h2{
  text-align: center;
  color: #4fbdd7;
}

.login-field{
  background-color: rgba(255, 255, 255, 0.5); 
  backdrop-filter: blur(5px); 
  padding: 20px;
}

.field {
  text-align: center;
  margin-bottom: 10px;
  color: #4fbdd7;
  font-weight: bold;
}

.actions {
  margin-top: 20px;
  text-align: center;
}

.actions input[type="submit"] {
  color: #ffffff; 
  background-color: #4fbdd7; 
  border: none; 
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}