/* 共通のスタイル */
.logo {
  display: flex;
  align-items: center;
}

.logo-text {
  text-decoration: none;
  color: white;
  font-size: 28px;
  font-weight: bold;
  margin-left: 10px;
  font-family: Monaco;
}

.logo-icon {
  width: 20px;
  height: 25px;
}

.lists-right {
  list-style: none;
  display: flex;
}

.lists-right li {
  margin-left: 30px;
}

.lists-right li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.footer-contents {
  height: 100px;
  background-color: #4fbdd7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 160px;
}

.footer-logo {
  display: flex;
  align-items: center;
}

.footer-left {
  display: flex;
  align-items: center;
}


.footer-left a.logo-icon {
  width: 20px;
  height: 25px;
  margin-left: auto;
}


.footer-right{
  display: flex;
  align-items: center;
  font-size: 16px;
  color: white;
  margin: 0;
  float: right;
}

/* ヘッダー部分のスタイル */
.top-page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #4fbdd7;
  padding: 0 160px;
}

/* フッター部分のスタイル */
.footer-contents {
  height: 100px;
  background-color: #4fbdd7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 160px;
}


// talks.index
.toppage-wrapper{
  height: auto;
}

.explanation-left, .explanation-right {
  display: inline-block;
  vertical-align: top;
}

.app-explanation{
  height: 400px;
  display: flex;
  margin-left: 250px;
  margin-top: 60px;
  
}

.explanation-left{
  width: 700px;
  height: 400px;
  background:rgba(245, 245,220, 0.5);
}

.explanation-title{
  color: #4fbdd7;
  font-size: 28px;
  margin-top: 50px;
  text-align: center;
  margin-bottom: 30px;
}

.explanation-left h2{
  font-size: 20px;
  color: #333333;
}

.explanation-right{
  width: 550px;
  height: 450px;
}  

.top-image{
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 15px auto;
}

.main{
  background-color: #fff;
  margin-top: 100px;
}

.talks-contents{
  margin: 40px;
  height: 50vh;
}

.main-title{
  font-size: 28px;
  margin-bottom: 40px;
  color: #333333;
  font-weight: bold;
}

.talks-main{
  padding: 100px;
}
.talks-lists{
  background:rgba(245, 245,220, 0.5);
  width: 50vw;
  padding: 10px;
  margin: 0 auto;
}
.list{
  list-style: none;
}

.talks-title{
  margin-bottom: 24px;
  color: black;
}





// // talks.show


.talks-show-wrapper{
  height: 100vh;
  margin-top: 20px;
}

.talks-show-field{
  margin-bottom: 20px;
  text-align: center;
}

.talks-show-field-label{
  font-size: 26px;
  color: #4fbdd7;
  font-weight: bold;
}


.talks-show-field-input{
  font-size: 20px;
  color: black;
  width: 50%;
  margin: 0 auto;
}
/* 編集ボタンと削除ボタンをボタンにして横並びにする */
.talk-button {
  display: flex;
  gap: 24px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.edit-button,
.delete-button {
  padding: 10px 20px;
  border: 1px solid #4fbdd7;
  background-color: #4fbdd7;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2)
}

.btn{
  color: white;
  text-decoration: none;
}

.talk-button{
  margin-bottom: 80px;
}

.comment-form{
  margin-bottom: 30px;
}

/* コメント一覧全体を背景ベージュの四角で囲む */
.comment-lists-wrapper {
  background:rgba(245, 245,220, 0.5);
  padding: 10px;
  margin: 0 auto;
  max-width: 50vw; /* 必要に応じて幅を調整してください */
}


/* コメント一覧から下をページの真ん中に寄せる */
.comment-wrapper {
  text-align: center;
  display: flex;
  justify-content: center;
}

.comment-left,.comment-right{
  width: 30%;
}

/* コメント一覧から下のユーザーの名前以外の文字の色を黒にし、リストスタイルをなくす */
.comments-lists {
  color: black;
  list-style-type: none;
  padding-left: 0;
}

/* コメントのリストが縦に並ぶ際に上下の余白を設定する */
.comments-list {
  margin-bottom: 16px;
}

.comment-field{
  font-size: 26px;
  color: #4fbdd7;
  font-weight: bold;
}

.caution{
  margin-bottom: 40px;
  font-size: 18px;
  background:rgba(245, 245,220, 0.5);
  padding: 10px 10px;
}

.comment-image{
  width: 80%;
}


// talks.new
.talks-new-content{
  display: flex;
  justify-content: center;
}

.talks-new-wrapper{
  padding: 60px 0;
}

.talks-new-field{
  margin-bottom: 20px;
  text-align: center;
}

.talks-new-field-label{
  font-size: 26px;
  color: #4fbdd7;
  font-weight: bold;
}

.talks-new-field-input{
  font-size: 20px;
  color: black;
}

.talks-title-area{
  width: 300px;
  height: 50px;
}

.talks-text-area{
  width: 450px;
  height: 160px;
}

.talks-form-wrapper,.talks-new-caution{
  width: 30%;
}

.caution-image{
  width: 100%;
}

.talks-title {
  margin-right: 12px;
}

.talk-created-at ,.comment-created-at{
  font-size: 10px;
  margin-top: 10px;
}

.caution-text{
  padding-bottom: 30px;
}

//talks.edit
.talks-edit{
  height: 70vh;
  background-image: url("edit.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.7;
  display: table;
  width: 100%;
  
}
  
.talks-edit-wrapper{
  vertical-align: middle;
  display: table-cell;
}

.talks-edit-field{
  text-align: center;
  margin-bottom: 20px;
}

.talks-edit-field-label{
  font-size: 26px;
  color: #4fbdd7;
  font-weight: bold;
}

.talks-edit-field-input{
  font-size: 20px;
  color: black;
}

.talks-edit-input{
  width: 500px;
  height: 100px;
}