/* 共通のスタイル */
.logo {
  display: flex;
  align-items: center;
}

.logo-text {
  text-decoration: none;
  color: white;
  font-size: 28px;
  font-weight: bold;
  margin-left: 10px;
  font-family: sans-serif;
}

.logo-icon {
  width: 20px;
  height: 25px;
}

.lists-right {
  list-style: none;
  display: flex;
}

.lists-right li {
  margin-left: 30px;
}

.lists-right li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.footer-contents {
  height: 100px;
  background-color: #4fbdd7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 160px;
}

.footer-logo {
  display: flex;
  align-items: center;
}

.footer-left {
  display: flex;
  align-items: center;
}


.footer-left a.logo-icon {
  width: 20px;
  height: 25px;
  margin-left: auto;
}


.footer-right{
  display: flex;
  align-items: center;
  font-size: 16px;
  color: white;
  margin: 0;
  float: right;
}

/* ヘッダー部分のスタイル */
.top-page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #4fbdd7;
  padding: 0 160px;
}

/* フッター部分のスタイル */
.footer-contents {
  height: 100px;
  background-color: #4fbdd7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 160px;
}


// talks.index
.main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("topimage.jpg");
  background-size: cover;
  background-position: center;
}

.talks-contents{
  margin: 40px;
  height: 100vh;
  text-align: center;
}

.main-title{
  font-size: 28px;
  margin-bottom: 40px;
  color: black;
  font-weight: bold;
}

.talks-lists{
  background-color: beige;
  width: 50vw;
  padding: 10px;
}

.list{
  list-style: none;
}

.talks-title{
  margin-bottom: 24px;
  color: black;
}




// // talks.show


.talks-show-wrapper{
  height: 100vh;
  margin-top: 20px;
}

/* 編集ボタンと削除ボタンをボタンにして横並びにする */
.talk-button {
  display: flex;
  gap: 24px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.edit-button,
.delete-button {
  padding: 10px 20px;
  border: 1px solid #4fbdd7;
  background-color: #4fbdd7;
}

.btn{
  color: white;
  text-decoration: none;
}

.comment-form{
  margin-bottom: 30px;
}
/* コメント一覧全体を背景ベージュの四角で囲む */
.comment-lists-wrapper {
  background-color: beige;
  padding: 10px;
  margin: 0 auto;
  max-width: 50vw; /* 必要に応じて幅を調整してください */
}


/* コメント一覧から下をページの真ん中に寄せる */
.comment-wrapper {
  text-align: center;
}

/* コメント一覧から下のユーザーの名前以外の文字の色を黒にし、リストスタイルをなくす */
.comments_lists {
  color: black;
  list-style-type: none;
  padding-left: 0;
}


/* コメントのリストが縦に並ぶ際に上下の余白を設定する */
.comments_list {
  margin-bottom: 16px;
}

.field{
  font-size: 26px;
}



