// users.show

.mypage-left, .mypage-right {
  display: inline-block;
  vertical-align: top;
}

.mypage-main{
  display: flex;
  margin-left: 250px;
  margin-top: 60px;
}

.mypage-left{
  width: 700px;
  background:rgba(245, 245,220, 0.5);
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.mypage-right{
  width: 550px;
}

.mypage-field{
  margin-bottom: 20px;
}

/* field-labelのフォントを28px、field-inputのフォントを24pxでblackに */
.mypage-field-label {
  font-size: 26px;
  color: #4fbdd7;
  font-weight: bold;
  margin-bottom: 12px;
}

.mypage-field-input {
  font-size: 20px;
  color: black;
  margin: 0 auto;
  width: 80%;
}

.mypage-image{
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 15px auto;
}

/* 編集ボタンの上を20pxあける */
.actions {
  margin-top: 20px;
}


.list{
  text-decoration: none;
}

#error_explanation{
  color: #333333;
  list-style: none;
}

.login-flash-message{
  color: #333333;
  font-size: 14px;
}

//users.edit
.users-edit{
  height: 70vh;
  background-image: url("edit.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.7;
  display: table;
  width: 100%;
}

.users-edit-field{
  margin-bottom: 20px;
  text-align: center;
}

.users-edit-field-label{
  font-size: 26px;
  color: #4fbdd7;
  font-weight: bold;
}

.users-edit-field-input{
  font-size: 20px;
  color: black;
}

.user-edit-input{
  width: 500px;
  height: 100px;
}