// users.show
// .mypage-wrapper{
//   height: 100vh;
// }

.mypage-left, .mypage-right {
  display: inline-block;
  vertical-align: top;
}

.mypage-main{
  height: 400px;
  display: flex;
  margin-left: 250px;
  margin-top: 60px;
}

.mypage-left{
  width: 700px;
  height: 400px;
  background-color: beige;
  text-align: center;
  padding-top: 60px;
}

.mypage-right{
  width: 550px;
  height: 450px;
}

.mypage-field{
  margin-bottom: 20px;
}

/* field-labelのフォントを28px、field-inputのフォントを24pxでblackに */
.mypage-field-label {
  font-size: 26px;
  color: #4fbdd7;
  font-weight: bold;
}

.mypage-field-input {
  font-size: 20px;
  color: black;
}

.mypage-image{
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 15px auto;
}

/* 編集ボタンの上を20pxあける */
.actions {
  margin-top: 20px;
}


.list{
  text-decoration: none;
}

#error_explanation{
  color: #333333;
  list-style: none;
}

.login-flash-message{
  color: #333333;
  font-size: 14px;
}